<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tag</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ">
        <div class="container-fluid">

            <label for="">Date Filter :</label>
            <div class="row">
                <!-- Left col -->
                <div class="col-md-6" style="margin: 0.5%;">
                    <div class="row">
                        <div class="">
                            <span class="badge badge-success">FROM:</span>
                        </div>
                        <div class="col-3">
                            <input type="date" ng-model="datefrom" class="form-control datefrom" ng-mouseleave="from()">
                        </div>
                        <div class="">
                            <span class="badge badge-danger">UNTIL:</span>
                        </div>
                        <div class="col-3">
                            <input type="date" ng-model="dateuntil" class="form-control" ng-mouseleave="until()">
                        </div>
                        <div class="btn-group ">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="applyfilter()">APPLY <i class="fas fa-filter"></i></button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon btn-sm" data-toggle="dropdown">           
                        </button>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item btn-sm" ng-click="resetdate()" href="">RESET <i class="fas fa-ban"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="col-md-12">
                    <!-- MAP & BOX PANE -->

                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Bill of Lading List</h3>

                            <div class="card-tools float-right">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="">
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" ng-model="search" data-target="#reservationdate">
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"> <i class="fas fa-search fa-fw"></i></div>
                                            </div>
                                        </div>
                                    </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th class="col-3">Date</th>
                                            <th class="col-3">Bill Of Lading</th>
                                            <th class="col-2">Vendor</th>
                                            <th class="col-1">Attachment</th>
                                            <th class="col-1">Controls</th>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="tag in tags |  filter:search | itemsPerPage: pageSize">
                                        <tr>
                                            <td>{{tag.date | date:'MM/dd/yyyy'}}</td>
                                            <td>{{tag.billofland}}</td>
                                            <td>{{tag.vendor}}</td>
                                            <td>
                                                <a class="btn btn-success btn-block btn-sm" ng-click="viewpdf(tag)">VIEW PDF</a>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-block btn-sm" ng-click="upload(tag)">UPLOAD</button>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->


                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

</div>

<div class="modal fade" id="upload" style="padding-top: 18%!important;">
    <div class="modal-dialog">
        <button type="button" class="btn btn-default float-right" data-dismiss="modal">X</button>
        <div class="modal-content">

            <div id="pmodal" class="modal-body">
                <input class="form-control" type="file" id="files" name="files[]" accept="application/pdf" />
                <button class="btn btn-info" ng-click="cancel()">CANCEL</button>
            </div>

            <div class="overlay">
                <!-- <i class="fas fa-3x fa-circle-notch fa-spin"></i> -->
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>