<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Customer</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ">
        <div class="container-fluid">
            <div class="row">
                <!-- Left col -->


                <br><br>
                <div class="col-md-12">
                    <!-- MAP & BOX PANE -->

                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Customer List</h3>

                            <div class="card-tools float-right">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-outline-success btn-block " ng-click="addcust()"><i class="fa fa-folder-plus"> Add Customer </i></button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th class="">Date</th>
                                            <th class="">Company Name</th>
                                            <th class="">First Name</th>
                                            <th class="">Last Name</th>
                                            <th class="">Contact #</th>
                                            <th class="">Address</th>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="customer in customers |  filter:search | itemsPerPage: pageSize">
                                        <tr>
                                            <td>{{customer.timstamp | date:'MM/dd/yyyy'}}</td>
                                            <td>{{customer.ccomname}}</td>
                                            <td>{{customer.cfname}}</td>
                                            <td>{{customer.clname}}</td>
                                            <td>{{customer.ccontact}}</td>
                                            <td>{{customer.comadd}}</td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->


                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

</div>

<div class="modal fade" id="addcust">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div id="pmodal" class="modal-body ">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Firts Name:</label>
                                    <input type="text" ng-model="cfname" class="form-control" placeholder="Enter ...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input type="text" ng-model="clname" class="form-control" placeholder="Enter ...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Company Name:</label>
                                    <input type="text" ng-model="ccomname" class="form-control" placeholder="Enter ...">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Contact #:</label>
                                    <input type="text" ng-model="ccontact" class="form-control" placeholder="Enter ...">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Company Address:</label>
                                    <textarea class="form-control" ng-model="comadd" rows="3" placeholder="Enter ..." spellcheck="false"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                <button type="button" class="btn btn-primary" ng-click="savecust();">SAVE</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>