<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tag</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content ">
        <div class="container-fluid">
            <label for="">Date Filter :</label>
            <div class="row">
                <!-- Left col -->
                <div class="col-md-6" style="margin: 0.5%;">
                    <div class="row">
                        <div class="">
                            <span class="badge badge-success">FROM:</span>
                        </div>
                        <div class="col-3">
                            <input type="date" ng-model="datefrom" class="form-control" ng-mouseleave="from()">
                        </div>
                        <div class="">
                            <span class="badge badge-danger">UNTIL:</span>
                        </div>
                        <div class="col-3">
                            <input type="date" ng-model="dateuntil" class="form-control" ng-mouseleave="until()">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-outline-info btn-block" ng-click="applyfilter()" style="width: 100px;">Apply <i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="col-md-12">
                    <!-- MAP & BOX PANE -->

                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Materials List</h3>

                            <div class="card-tools float-right">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="">
                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" ng-model="search" data-target="#reservationdate">
                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                <div class="input-group-text"> <i class="fas fa-search fa-fw"></i></div>
                                            </div>
                                        </div>
                                    </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th>PO #</th>
                                            <th class="col-1">Date</th>
                                            <th>Store</th>
                                            <th>Shelf #</th>
                                            <th>Materials</th>
                                            <th>Side Mark</th>
                                            <th>Roll #</th>
                                            <th>Qty.</th>
                                            <th>Width</th>
                                            <th>Length</th>
                                            <th>Description</th>
                                            <th>Controls</th>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="tag in tags |  filter:search | itemsPerPage: pageSize">
                                        <tr>
                                            <td>{{tag.PONumber}}</td>
                                            <td>{{tag.date | date:'MM/dd/yyyy'}}</td>
                                            <td>{{tag.Store}}</td>
                                            <td>N/A</td>
                                            <td>{{tag.MaterialType}}</td>
                                            <td>{{tag.SideMark}}</td>
                                            <td>{{tag.RollNumber}}</td>
                                            <td>{{tag.QuantitySqFt}}</td>
                                            <td>{{tag.Width}}</td>
                                            <td>{{tag.Length}}</td>
                                            <td>{{tag.Description}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" ng-click="getpdata(tag)">EDIT</button>
                                                <button type="button" class="btn btn-success btn-sm" ng-click="viewpdata(tag)">VIEW</button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->


                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->

</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-lg" style="width: 700px;">
        <div class="modal-content">
            <div id="pmodal" class="modal-body">

                <table class="table m-0">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h1 class="text-center" style="margin-left: 20%;"><strong><input type="text" class="form-control form-control-border text-center PONumber" value="{{PONumber}}" style="width: 300px;font-size: 50px;"> </strong></h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left pleft" style="font-size: 30px;  border: none;">
                                <input type="text" class="form-control form-control-border text-center sidemark" value="{{sidemark}}" style="width: 200px;font-size: 30px;">
                            </td>
                            <td class="float-right" style="font-size: 30px; border: none;">
                                <input type="text" class="form-control form-control-border text-center PONumber" value="{{PONumber}}" style="width: 200px;font-size: 30px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left pleft" style="font-size: 30px;  border: none;">
                                <input type="text" class="form-control form-control-border text-center Carrier" value="{{Carrier}}" style="width: 200px;font-size: 30px;">
                            </td>
                            <td class="float-right" style="font-size: 30px; border: none;">
                                <input type="text" class="form-control form-control-border text-center MaterialType" value="{{MaterialType}}" style="width: 200px;font-size: 30px;">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left pleft" style="font-size: 30px;  border: none;">
                                <input type="text" class="form-control form-control-border text-center Carrier" value="{{size}}" style="width: 200px;font-size: 30px;">
                            </td>
                            <td class="float-right" style="font-size: 30px; border: none;">
                                <input type="text" class="form-control form-control-border text-center MaterialType" value="{{recvdate | date:'MM/dd/yyyy'}}" style="width: 200px;font-size: 30px;">
                            </td>


                        </tr>
                        <tr>


                            <td class="text-left pleft" style="font-size: 30px;  border: none;">
                                <input type="text" class="form-control form-control-border text-center Carrier" value="{{OrderNumber}}" style="width: 200px;font-size: 30px;">
                                <br>
                                <input type="text" class="form-control form-control-border text-center Carrier" value="{{Store}}" style="width: 200px;font-size: 30px;">
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <center>
                                    <hr>
                                    <div id="container">
                                        <div id="barcode"></div>
                                    </div>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                <button type="button" class="btn btn-success" ng-click="updatedate();">UPDATE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalview">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div id="pmodal" class="modal-body">

                <table class="table m-0" style="border-top:0px!important">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h1 class="text-center" style="font-size: 100px;"><strong>{{PONumber}}</strong></h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left pleft" style="font-size: 30px;  border: none;">{{sidemark}}</td>
                            <td class="text-right pleft" style="font-size: 30px; border: none;">{{PONumber}}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 30px;">{{Carrier}}</td>
                            <td class="text-right" style="font-size: 30px;">{{MaterialType}}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 30px;">{{size}}</td>
                            <td class="text-right" style="font-size: 30px;">{{recvdate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 30px;">{{OrderNumber}} <br>{{Store}}</td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <center>
                                    <hr>
                                    <div id="container">
                                        <div id="barcodeview"></div>
                                    </div>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="printhis();">Print</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>