<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Storage</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Register Material</h3>
                            <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">

                                <label class="btn btn-danger btn-sm">
                                    <input type="radio" name="options" autocomplete="off" ng-click="revmaterial();">
                                    <i class="fa fa-folder-minus" ></i> DEL
                                </label>

                                <label class="btn btn-success btn-sm">
                                    <input type="radio" name="options"  autocomplete="off" ng-click="addmaterial();">ADD
                                    <i class="fa fa-folder-plus"></i>
                                </label>
                            </div>
                        </div>

                        <!-- /.card-header -->
                        <!-- form start -->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <label for="">Bill of Land:</label>
                                    <input type="text" class="form-control" ng-model="billofland" placeholder="Bill of Land">
                                </div>

                                <div class="col-4">
                                    <label for="">Vendor:</label>
                                    <select class="form-control">
                                        <option value="0" selected disabled>SELECT</option>
                                        <option value="A.P.T. Distributing">A.P.T. Distributing
                                        </option>
                                        <option value="Accurate Transport">Accurate Transport
                                        </option>
                                        <option value="AllState">AllState</option>
                                        <option value="APT">APT</option>
                                        <option value="Belknap">Belknap</option>
                                        <option value="Calhoun Distributio">Calhoun Distributio
                                        </option>
                                        <option value="Carpenter">Carpenter</option>
                                        <option value="Classic Tile">Classic Tile</option>
                                        <option value="Couristan Carpets">Couristan Carpets</option>
                                        <option value="Dalyn">Dalyn</option>
                                        <option value="Dedicated LLC">Dedicated LLC</option>
                                        <option value="Dixie">Dixie</option>
                                        <option value="Elias Wilf">Elias Wilf</option>
                                        <option value="Engineered">Engineered</option>
                                        <option value="Fabrica">Fabrica</option>
                                        <option value="Fishman">Fishman</option>
                                        <option value="JJ Haines">JJ Haines</option>
                                        <option value="Kane">Kane</option>
                                        <option value="knae">knae</option>
                                        <option value="Mannington">Mannington</option>
                                        <option value="Masland">Masland</option>
                                        <option value="Mohawk">Mohawk</option>
                                        <option value="Nourtex/Nourison RU">Nourtex/Nourison RU
                                        </option>
                                        <option value="PCC Ringgold">PCC Ringgold</option>
                                        <option value="Phenix">Phenix</option>
                                        <option value="Shaw">Shaw</option>
                                        <option value="Southwind">Southwind</option>
                                        <option value="Stanton">Stanton</option>
                                        <option value="Stark">Stark</option>
                                        <option value="Urato">Urato</option>
                                    </select>
                                </div>

                                <div class="col-4">
                                    <label for="">Date:</label>
                                    <input type="date" class="form-control" ng-model="curdate">
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="table-responsive card">
                                <table class=" table m-0" id="tblstorage0">
                                    <thead>
                                        <tr>
                                            <th>PO Number</th>
                                            <th>Order Number</th>
                                            <th>SideMark</th>
                                            <th>Width</th>
                                            <th>Length</th>
                                            <th>Quantity SqFt</th>
                                            <th>Roll Number</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addmaterial0">
                                        <tr>
                                            <td><input type="text" class="form-control" placeholder="PO Number" required></td>
                                            <td><input type="text" class="form-control" placeholder="Order Number" required></td>
                                            <td><input type="text" class="form-control" placeholder="Side Mark" required></td>
                                            <td><input type="number" class="form-control" placeholder="Width" required></td>
                                            <td><input type="number" class="form-control" placeholder="Length" required></td>
                                            <td><input type="number" class="form-control" placeholder="Quantity" required></td>
                                            <td><input type="text" class="form-control" placeholder="Roll Number" required></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class=" table m-0" id="tblstorage1">
                                    <thead>
                                        <tr>
                                            <th class="col-2">Carrier</th>
                                            <th class="col-2">Material Type</th>
                                            <th class="col-2">Store</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addmaterial1">
                                        <tr>

                                            <td><select class="form-control">
                                                <option value="0" selected disabled>SELECT</option>
                                                <option value="UPS">UPS</option>
                                                <option value="DHL">DHL</option>
                                                <option value="FedEx">FedEx</option>
                                            </select></td>
                                            <td>
                                                <select class="form-control" ng-model="materialtype">
                                                        <option disabled value="">SELECT</option>
                                                      
                                                        <option value="Acessories">Acessories</option>
                                                      
                                                        <option value="Area Rugs">Area Rugs</option>
                                                      
                                                        <option value="Cabinet">Cabinet</option>
                                                      
                                                        <option value="Carpet">Carpet</option>
                                                      
                                                        <option value="Carpet Tile">Carpet Tile</option>
                                                      
                                                        <option value="Ceilings">Ceilings</option>
                                                      
                                                        <option value="Ceramic Tile">Ceramic Tile</option>
                                                      
                                                        <option value="Displays">Displays</option>
                                                      
                                                        <option value="Fixtures">Fixtures</option>
                                                      
                                                        <option value="Installation Materials">Installation Materials</option>
                                                      
                                                        <option value="Laminates">Laminates</option>
                                                      
                                                        <option value="Pad">Pad</option>
                                                      
                                                        <option value="Rubber Tile">Rubber Tile</option>
                                                      
                                                        <option value="Runner">Runner</option>
                                                      
                                                        <option value="Stone">Stone</option>
                                                      
                                                        <option value="Training">Training</option>
                                                      
                                                        <option value="Unclassified">Unclassified</option>
                                                      
                                                        <option value="Vinyl">Vinyl</option>
                                                      
                                                        <option value="Vinyl Sheet">Vinyl Sheet</option>
                                                      
                                                        <option value="Vinyl Tile">Vinyl Tile</option>
                                                      
                                                        <option value="Wall Base">Wall Base</option>
                                                      
                                                        <option value="Wall Coverings">Wall Coverings</option>
                                                      
                                                        <option value="wood">wood</option>
                                                      
                                                      </select>
                                            </td>
                                            <td>
                                                <select class="form-control" ng-model="store">
                                                        <option disabled value="">SELECT</option>
                                                      
                                                        <option value="Carpet Yard">Carpet Yard</option>
                                                      
                                                        <option value="EB-Carpets &amp; More East Brunswick">EB-Carpets &amp; More East Brunswick</option>
                                                      
                                                        <option value="Warehouse">Warehouse</option>
                                                      
                                                        <option value="SI-Carpets &amp; More Staten Island">SI-Carpets &amp; More Staten Island</option>
                                                      
                                                        <option value="OB-Carpets &amp; More Old Bridge">OB-Carpets &amp; More Old Bridge</option>                                                   
                                                      </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" ng-model="description" placeholder="Description">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="card-footer">

                            <div class="btn-group float-right savedata">
                                <button type="button" class="btn btn-primary" ng-click="savematerial()">SAVE & PRINT</button>
                                <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" href="#">Email</a>
                                    <a class="dropdown-item" href="#">Download</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div id="pmodal" class="modal-body">
                <table class="table m-0 madal">
                    <tbody ng-repeat="lading in ladings">
                        <tr>
                            <td colspan="2">
                                <h1 class="text-right" style="font-size: 100px;"><strong>{{lading['Roll Number']}}</strong></h1>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 40px;"><strong>{{lading['SideMark']}}</strong> <br>{{lading['Width'] }} X {{lading['Length'] }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 14px;"><strong>CARRIER:</strong> {{lading['Carrier']}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 14px;"><strong>STORE:</strong> {{lading['Store']}}</td>
                            <td class="text-right" style="font-size: 14px;"><strong>PO NUMBER:</strong> {{lading['PO Number']}}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 14px;"><strong>MATERIAL DESC:</strong> {{lading['Material Type']}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 14px;">WAREHOUSE POSITION:<strong> 60-2</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <hr>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <hr>
                                <div class="float-right">
                                    <img src="/public/dist/barcod.png" height="150" width="300" alt="" srcset="">
                                </div>

                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="printhis();">Print</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>