<style>
    table th {
        font-size: 14px
    }

    table input[type="text"] {
        font-size: 14px
    }

    table input[type="number"] {
        font-size: 14px
    }

    select {
        font-size: 10px
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Storage</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <form ng-submit="savematerial()">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Register Material</h3>
                                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" autocomplete="off"
                                            ng-click="addmaterial();">ADD DETAILS
                                        <i class="fa fa-folder-plus"></i>
                                    </label>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="">Bill of landing:</label>
                                        <input type="text" class="form-control" ng-model="billofland"
                                            placeholder="Bill of landing" required>
                                    </div>

                                    <div class="col-4">
                                        <label for="">Vendor:</label>
                                        <select class="form-control" ng-model="vendor" required>
                                            <option disabled value="">SELECT</option>
                                            <option value="A.P.T. Distributing">A.P.T. Distributing
                                            </option>
                                            <option value="Accurate Transport">Accurate Transport
                                            </option>
                                            <option value="AllState">AllState</option>
                                            <option value="APT">APT</option>
                                            <option value="Belknap">Belknap</option>
                                            <option value="Calhoun Distributio">Calhoun Distributio
                                            </option>
                                            <option value="Carpenter">Carpenter</option>
                                            <option value="Classic Tile">Classic Tile</option>
                                            <option value="Couristan Carpets">Couristan Carpets</option>
                                            <option value="Dalyn">Dalyn</option>
                                            <option value="Dedicated LLC">Dedicated LLC</option>
                                            <option value="Dixie">Dixie</option>
                                            <option value="Elias Wilf">Elias Wilf</option>
                                            <option value="Engineered">Engineered</option>
                                            <option value="Fabrica">Fabrica</option>
                                            <option value="Fishman">Fishman</option>
                                            <option value="JJ Haines">JJ Haines</option>
                                            <option value="Kane">Kane</option>
                                            <option value="knae">knae</option>
                                            <option value="Mannington">Mannington</option>
                                            <option value="Masland">Masland</option>
                                            <option value="Mohawk">Mohawk</option>
                                            <option value="Nourtex/Nourison RU">Nourtex/Nourison RU
                                            </option>
                                            <option value="PCC Ringgold">PCC Ringgold</option>
                                            <option value="Phenix">Phenix</option>
                                            <option value="Shaw">Shaw</option>
                                            <option value="Southwind">Southwind</option>
                                            <option value="Stanton">Stanton</option>
                                            <option value="Stark">Stark</option>
                                            <option value="Urato">Urato</option>
                                        </select>
                                    </div>

                                    <div class="col-4">
                                        <label for="">Date:</label>
                                        <input type="date" class="form-control" ng-model="curdate" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 p-4" id="dtsdata" ng-repeat="m in data">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Details:</h3>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                                   <i class="fa fa-trash fa-lg text-red"> REMOVE</i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="row ">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>PO No</label>
                                                        <input type="text" name="txtd" class="form-control"
                                                            placeholder="Enter ..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Order No</label>
                                                        <input type="text" name="txtd" class="form-control"
                                                            placeholder="Enter ..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>SideMark</label>
                                                        <input type="text" name="txtd" class="form-control"
                                                            placeholder="Enter ..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Width</label>
                                                        <input type="number" name="wth"  ng-model="wth"
                                                            class="form-control" placeholder="{{m.wth}}"  md-maxlength="5" force-maxlength="" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Length</label>
                                                        <input type="number" name="lth" ng-model="lth"  md-maxlength="5" force-maxlength=""
                                                            class="form-control" placeholder="{{m.lth}}"  
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Qty SqFt</label>
                                                        <input type="number" name="qty" class="form-control"
                                                            placeholder="Enter ..."    value="{{wth*lth   | limitDigit }}" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Roll No</label>
                                                        <input type="text" name="txtd" class="form-control"
                                                            placeholder="Enter ..." required>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Store</label>
                                                        <select name="txtd" class="form-control" style="font-size:14px;"
                                                            required>
                                                            <option disabled value="">SELECT</option>

                                                            <option value="Carpet Yard">Carpet Yard</option>

                                                            <option value="EB-Carpets &amp; More East Brunswick">
                                                                EB-Carpets
                                                                &amp; More East Brunswick</option>

                                                            <option value="Warehouse">Warehouse</option>

                                                            <option value="SI-Carpets &amp; More Staten Island">
                                                                SI-Carpets
                                                                &amp; More Staten Island</option>

                                                            <option value="OB-Carpets &amp; More Old Bridge">OB-Carpets
                                                                &amp; More Old Bridge</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Material Type</label>
                                                        <select name="txtd" class="form-control" ng-model="materialtype"
                                                            style="font-size:14px;" required>
                                                            <option disabled value="">SELECT</option>

                                                            <option value="Acessories">Acessories</option>

                                                            <option value="Area Rugs">Area Rugs</option>

                                                            <option value="Cabinet">Cabinet</option>

                                                            <option value="Carpet">Carpet</option>

                                                            <option value="Carpet Tile">Carpet Tile</option>

                                                            <option value="Ceilings">Ceilings</option>

                                                            <option value="Ceramic Tile">Ceramic Tile</option>

                                                            <option value="Displays">Displays</option>

                                                            <option value="Fixtures">Fixtures</option>

                                                            <option value="Installation Materials">Installation
                                                                Materials
                                                            </option>

                                                            <option value="Laminates">Laminates</option>

                                                            <option value="Pad">Pad</option>

                                                            <option value="Rubber Tile">Rubber Tile</option>

                                                            <option value="Runner">Runner</option>

                                                            <option value="Stone">Stone</option>

                                                            <option value="Training">Training</option>

                                                            <option value="Unclassified">Unclassified</option>

                                                            <option value="Vinyl">Vinyl</option>

                                                            <option value="Vinyl Sheet">Vinyl Sheet</option>

                                                            <option value="Vinyl Tile">Vinyl Tile</option>

                                                            <option value="Wall Base">Wall Base</option>

                                                            <option value="Wall Coverings">Wall Coverings</option>

                                                            <option value="wood">wood</option>

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Carrier</label>
                                                        <select name="txtd" class="form-control" style="font-size:14px;"
                                                            required>
                                                            <option value="0" selected disabled>SELECT</option>
                                                            <option value="UPS">UPS</option>
                                                            <option value="DHL">DHL</option>
                                                            <option value="FedEx">FedEx</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <input type="text" name="details" class="form-control"
                                                            placeholder="Enter ..." required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="card-footer">

                                <div class="btn-group float-right savedata  p-1">
                                    <button type="submit" class="btn btn-primary" ng-click=""><i
                                            class="fas fa-circle-notch fa-spin spinloading"></i> SAVE &
                                        PRINT</button>

                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon"
                                        data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="#">Email</a>
                                        <a class="dropdown-item" href="#">Download</a>
                                    </div>

                                </div>
                                <div class="btn-group float-right p-1">
                                    <button type="button" class="btn btn-success" ng-click="upload()">UPLOAD
                                        BOL</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div id="pmodal" class="modal-body">
                <table class="table m-0 madal">
                    <tbody id="dynamicTable">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="printhis();">Print</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade upload" id="upload" style="padding-top: 18%!important;" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
      
        
        <div class="modal-content">
            <div class="card-header">
                <h3 class="card-title">UPLOAD BILL OF LANDING:</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-outline-danger btn-sm float-right" ng-click="closemodal()" style="border-radius: 2px;">X</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="files" name="files[]" accept="application/pdf">
                        <label class="custom-file-label" for="exampleInputFile">Choose PDF File</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
                <div class="progress progress-sm active">
                    <div class="progress-bar bg-success " role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                      
                    </div>
                  </div>
            </div>
            <div class="overlay">
                <i class="fas fa-3x fa-circle-notch fa-spin"></i>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>