<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Tag</li>
                    </ol>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">



            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-md-12">
                    <!-- MAP & BOX PANE -->



                    <!-- TABLE: LATEST ORDERS -->
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">Tag List</h3>

                            <div class="card-tools float-right">
                                <div class="row">
                                    <div class="col-1">
                                        <span class="badge badge-info">SEARCH:</span>
                                    </div>
                                    <div class="col-3">
                                        <input type="text" ng-model="search" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <span class="badge badge-success">FROM:</span>
                                    </div>
                                    <div class="col-3">
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-1">
                                        <span class="badge badge-danger">TO:</span>
                                    </div>
                                    <div class="col-3">
                                        <input type="date" class="form-control">
                                    </div>

                                </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table m-0">
                                    <thead>
                                        <tr>
                                            <th class="col-1">Date</th>
                                            <th>Vendor</th>
                                            <th>Bill Of Land</th>
                                            <th>PO #</th>
                                            <th>Order #</th>
                                            <th>Carrier</th>
                                            <th>Length</th>
                                            <th>Width</th>
                                            <th>QuantitySqFt</th>
                                            <th>Description</th>
                                            <th>Controls</th>
                                        </tr>
                                    </thead>
                                    <tbody dir-paginate="tag in tags |  filter:search | itemsPerPage: pageSize">
                                        <tr>
                                            <td>{{tag.date | date:'MM/dd/yyyy'}}</td>
                                            <td>{{tag.vendor}}</td>
                                            <td>{{tag.billofland}}</td>
                                            <td>{{tag.PONumber}}</td>
                                            <td>{{tag.OrderNumber}}</td>
                                            <td>{{tag.Carrier}}</td>
                                            <td>{{tag.Length}}</td>
                                            <td>{{tag.Width}}</td>
                                            <td>{{tag.Description}}</td>
                                            <td>{{tag.QuantitySqFt}}</td>
                                            <td>
                                                <div class="btn-group ">
                                                    <button type="button" class="btn btn-primary btn-sm" ng-click="getpdata(tag)">PRINT TAG</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon btn-sm" data-toggle="dropdown">
                                                      
                                                </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item btn-sm" href="#">Email</a>
                                                        <a class="dropdown-item btn-sm" href="#">Download</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info float-left">Place New Order</a>
                            <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">View All Orders</a> -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->


                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>

<div class="modal fade" id="modal-xl">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-body">
                <table class="table m-0 madal">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <h1 class="text-center" style="font-size: 100px;"><strong>{{PONumber}}</strong></h1>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left" style="font-size: 40px;">{{sidemark}}</td>
                            <td class="text-right" style="font-size: 40px;">{{PONumber}}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 40px;">{{Carrier}}</td>
                            <td class="text-right" style="font-size: 40px;">{{MaterialType}}</td>
                        </tr>
                        <tr>
                            <td class="text-left" style="font-size: 40px;">{{size}}</td>
                            <td class="text-right" style="font-size: 40px;">{{recvdate | date:'MM/dd/yyyy'}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 40px;">{{OrderNumber}} <br>{{Store}}</td>
                        </tr>
                        <tr>
                            <hr>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <center>
                                    <div id="container">
                                        <div id="barcode"></div>
                                    </div>
                                </center>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-between hidef">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="printhis();">Print</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>